/* css dell header */
header {
    background-image: url(../img/pattern.png);
    height: 180px;
    background-color: #4ea0ff;
}

#logo {
   width: 25%;
   margin-top: 50px;
   margin-left: 10px;
}

/* css del main */
main {
    margin-left: 15px;
}

h1 {
    font-size: 60px;
}

p > span {
    background-color: #ff0;
}

#intestazione {
    background-color: #4ea0ff;
}

#intestazione > span {
    margin-right: 200px;
    color: white;
}

.contenuto {
    height: 50px;
    background-color: aqua;
}

.contenuto > span {
    
   
}